
body{
  --text-color: rgba(0, 0, 0, 0.644);
  /*background-color: rgb(221, 223, 250);*/
  background-color: rgb(218, 232, 250);



}

body.dark-theme{
  --text-color: rgb(177, 178, 192);
  background-color: rgba(0, 0, 0, 0.856);

}


.btnmode{
  right: -170px;
  top: -10px;
  width: 280px;
  height: 40px;
  line-height: 50px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #4097d1d3 5%);
  border: 0;
  color: #fff;
  box-shadow: 6px 0px 0px #0d6d70;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}



.btnmode:hover{
  background:#215269;
  transition: 0.7s;
}


@media (min-width: 768px) {
  .btnmode,
  .btnmode:after {
    width: 326px;
    height: 40px;
    line-height: 60px;
  }
}
