
<div *ngIf="chCart.length==0" class="row">
    <h5 class="message">Please proceed from Cart.</h5>
</div>
<div *ngIf="visible" class="container-fluid">
     <div *ngIf="chCart.length > 0" class="card-body">
        <div class="row upper">
            <span class="header">Order details</span>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="left border">
                    <div class="row">
                        <span class="header">Payment</span>
                        <div class="icons">
                            <img src="https://img.icons8.com/color/48/000000/visa.png"/>
                            <img src="https://img.icons8.com/color/48/000000/mastercard-logo.png"/>
                            <img src="https://img.icons8.com/color/48/000000/maestro.png"/>
                        </div>
                    </div>
                    <form>
                        <span>Cardholder's name:</span>
                        <input placeholder="Linda Williams">
                        <span>Card Number:</span>
                        <input placeholder="0125 6780 4567 9909">
                        <div class="row">
                            <div class="col-4"><span>Expiry date:</span>
                                <input placeholder="YY/MM">
                            </div>
                            <div class="col-4"><span>CVV:</span>
                                <input id="cvv">
                            </div>
                        </div>
                        <input type="checkbox" id="save_card" class="align-left">
                        <label for="save_card">Save card details</label>
                    </form>
                </div>
            </div>
            <div class="col-md-7">
                <div class="right border">
                    <div><b>Order Summary</b></div>
                    <p>{{chCart.length}} games</p>
                    <div class="row item" *ngFor="let cartItem of chCart">
                        <div class="col-4 align-self-center"><img class="img-fluid" src="{{cartItem.game.thumb}}"></div>
                        <div class="col-8">
                            <div class="row">{{(cartItem.game.retailPrice * cartItem.quantity)|currency:'EUR'}}</div>
                            <div class="row text-muted">{{cartItem.game.name}}</div>
                            <div class="row">Quantity: {{cartItem.quantity}}</div>
                        </div>
                    </div>
                    <hr>
                    <div class="row lower">
                        <div class="col text-left">Subtotal</div>
                        <div class="col text-right">{{totalPrice |currency:'EUR'}}</div>
                    </div>
                    <div class="row lower">
                        <div class="col text-left">Delivery</div>
                        <div class="col text-right">Free</div>
                    </div>
                    <div class="row lower">
                        <div class="col text-left"><b>Total to pay</b></div>
                        <div class="col text-right"><b>{{totalPrice |currency:'EUR'}}</b></div>
                    </div>
                     <button (click)="saveOrder()" class="btn"  id="btnOrder" name="btnOrder">Place order</button>
                    <p class="text-muted text-center">Complimentary Shipping & Returns</p>
                </div>
            </div>
        </div>
    </div>
    <div>
    </div>
</div>

<div class="container-fluid" *ngIf="messageVisible">
    <br>
   <h4 class="message">Thank you for your Order.</h4>
   <br>
    <div class="col-md-7">
        <div class="right border">
            <div><b>Order Summary</b></div>
            <p>{{chCart.length}} games</p>
            <div class="row item" *ngFor="let cartItem of chCart">
                <div class="col-4 align-self-center"><img class="img-fluid" src="{{cartItem.game.thumb}}"></div>
                <div class="col-3">
                    <div class="row">{{(cartItem.game.retailPrice * cartItem.quantity)|currency:'EUR'}}</div>
                    <div class="row text-muted">{{cartItem.game.name}}</div>
                    <div class="row">Quantity: {{cartItem.quantity}}</div>
                </div>
            </div>
            <hr>
            <div class="row lower">
                <div class="col-4 text-left"><b>Order Total</b></div>
                <div class="col-3"><b>{{totalPrice |currency:'EUR'}}</b></div>
            </div>
        </div>
    </div>
</div>
